.footer {
  padding: 60px 102px 60px 80px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns {
  display: flex;
}

.footer__column_content_hours {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: 100px;
}

.footer__logo {
  width: 57px;
  height: 80px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__column-heading {
  margin: 0 0 20px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: auto;
}

.footer__copyright {
  margin: 108px 0 0;
}
